.container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;

  background-color: transparent;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 20px;
}

#header img {
  width: 268px;
  height: 33px;
}

/* .full-logo {
} */
.nav-links {
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
}

#about {
  color: #00b39b;
}

#career,
#department {
  color: #ababab;
  background-color: transparent;
}

#career:hover {
  color: #00b39b;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

#small-logo {
  width: 40px;
  height: 40px;
}

.hero-section #hero-paragraph-tag {
  color: #00b39b;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif, Arial, sans-serif;
  font-weight: 400;
}

.hero-paragraps {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-left: 280px;
  padding-right: 280px;
  padding-bottom: 30px;
  color: #747474;
  font-size: 16px;
}

.card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  padding: 0 25px;
  width: 100%;
  align-items: center;
}

.card-section img {
  width: 25px;
  height: auto;
}

.card-section p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

#card-one-paragraph,
#card-two-paragraph,
#card-three-paragraph {
  color: #fff;
  font: 400;
  font-size: 30px;
}

.card-one {
  background-color: #00ccb1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}

.card-two {
  background-color: #3d83df;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}

.card-three {
  background-color: #1b2734;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}

.card-one select {
  background-color: #00ccb1;
  text-decoration: underline;
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
}

.card-two select {
  background-color: #3d83df;
  text-decoration: underline;
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
}

.card-three select {
  background-color: #1b2734;
  text-decoration: underline;
  text-emphasis: none;
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
}

select {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#logo-paragraph {
  font-size: 16px;
  margin: 0.25em 0 0.35em;
  padding-right: 1em;
  color: #00b39b;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
}
